@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

body {
  height: 100vh;
  text-align: center;
  background-image: url("https://images.alphacoders.com/697/697322.jpg");
  background-color: aqua;
  background-size: cover;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  margin: 0;
}

.container {
  text-align: center;
  height: 300px;
  padding-top: calc(50vh - 150px);
}

input {
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  width: 90px;
  border: none;
  background: transparent;
  border-bottom: solid 2px white;
  color: white;
  outline-style: none;
}

select {
  font-size: 19px;
  font-family: "Ubuntu", sans-serif;
  outline: none;
  border: none;
  color: white;
  background: #070d2d;
}

#valorConvertido {
  margin: auto;
  margin-top: 20px;
  background-color: #00000077;
  padding: 10px;
  width: 260px;
}

h1 {
  font-size: 35px;
}